@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "SF Pro Text","Arial", sans-serif;
  font-size: 17px;
  color: #111;
  background-color: #f2f2f2;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.main_buyPage{
  background-color: #f2F2F2;
}

.main_buyPage h2{
  margin: 20px;
  font-size: 30px;
}

.picPod{
  margin-top: 20px;
  margin-left: 33%;/*à changer pour le responsive*/
  height: 225px;
  width: auto;
}

.main_colorChoice{
  display: flex;
  flex-flow: column nowrap;
}

.main_colorChoice h4{
  font-size: 17px;
  margin-left: -260px;
}

.main_colorChoice_width img{
  height: 75px;
  width: auto;
}

.main_colorChoice_width{
  margin-left: -45px;
}

.main_buy>p{
  font-weight: bold;
  font-size: 20px;
  margin-left: -240px;
  margin-top: 20px;
}

.main_buy_add{
  margin-top: 60px;
  margin-left: -170px;
  font-size: 14px;
}

.main_preferences{
  text-align: center;
}

.main_buyButton p{
  position:absolute;
  text-decoration: none;
  color:white;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.main_buyButton {
  font-size: 19px;
  margin-left: 40%;
}

.main_buyButton_little{
  font-size: 14px;
  margin-left: 54%;
  margin-top: -3.5%;
}

.picApple{
  height: 30px;
  margin-top: -2px;
  margin-left: -30%;
}

.main_buyAppleCare_2 p{
  font-size: 13px;
}

.picMultiples{
  height: 150px;
  width: auto;
}


/*
.main_buy{
  display: flex;
}

.main_buyPage{
  justify-content: center;
}


.main_buyPage h2{
  font-size: 40px;
}

.container .main_buyPage_image{
  text-align: center;
}

.main_buyPage_image{
  height: 100px;
  width: auto;
}



.main_buyButton{
  position:absolute;
  text-decoration: none;
  color:white;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.main_buyButton_little{
  font-size: 12px;
}
.picPod{
  width: 150%;
  margin-top: 100px;
}*/
