body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    color: #111;
  }
  
.container{
  margin:0 auto;
  width: 960px;
}
  
.titre{
  margin: 0 auto;
  width: 988px;
  display: flex;
  align-items: center
}
  
h1{
  padding: top 60px;
  text-align: center;
  position: relative;
  font-size: 60px;
}

h2{
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-top: 150px;
  margin-bottom: 75px;
}

p{
  font-size: 17px;
  text-align: center;
}

.article__button{
  position:absolute;
  text-decoration: none;
  color:white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

img{
  width: 100%;
}

a{
  color: #0070c9;
}

a:hover{
  text-decoration: none;
}

.sousTitre{
  margin: 0 auto;
  width: 700px;
  text-align: center;
}