@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

.container{
  width: 960px;
  margin: 0 auto;
}

.py-2 {
    color: rgb(228, 228, 228);
    font-family: "SF Pro Text","Arial", sans-serif;
        font-weight: 500;
        padding: 0 10px 0 10px;
        margin: 2px 1px 2px 1px ;

}

.py-1 a:hover{
  text-decoration: none;
  color:#bbb;
}

nav {
    background-color: rgb(39, 38, 38);
}

@media screen and (max-width: 330px) {
    .py-2{
        font-size: 0.83em;
        margin: 1px 0 1px 0;
    }
}

@media screen and (max-width: 550px) {

    .py-2{
        font-size: 0.9em;
        padding: 0 1px 0 1px ;
    }
}
