@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
body{
	margin: 0;
	padding: 0;
	font-family: "SF Pro Text","Arial", sans-serif;
	font-size: 22px;
	background-color: #f2f2f2;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.main_homePage{
	text-align: center;
	margin-bottom: 100px
}

.main_homePage h2{
	font-size: 45px;
}

.main_homePage p{
	font-size: 25px;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.picHomePod{
	height: 300px;
	width: auto;
	margin-bottom: 20px;
}

/*div[class^="main_"] img[class^="sonPic_"]{
	height: 500px;
	width: auto;
}*/

.main_page2 .sonPic_basses{
	height: 500px;
	width: auto;
}

/*div[class^="main_"]{
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
}*/

.main_page2{
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
}

/*div[class$="_text"]{
	padding-left: 20px;
}*/

.main_page2_text{
	padding-left: 20px;
}

/*div[class$="_text"] h3{
	font-size: 40px;
}*/

h3{
	font-size: 40px;
}

/*div[class$="_text"] p{
	width:400px;
	margin-left: 80px;
}*/

.main_page2_text p{
	width:400px;
	margin-left: 80px;
}

.main_page2{
	margin-bottom: 90px;
}

.main_page3{
	text-align: center;
	margin-bottom: 90px;
}
