@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face{
    font-family: "SF Pro Text";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
body{
	margin: 0;
	padding: 0;
	font-family: "SF Pro Text","Arial", sans-serif;
	font-size: 17px;
	background-color: #FFF;
}

.container{
  width: 960px;
  margin: 0 auto;
}

/*HEADER*/

#header nav {
    background-color: rgb(39, 38, 38);
}

.py-2 {
    color: rgb(228, 228, 228);
    font-family: "SF Pro Text","Arial", sans-serif;
        font-weight: 500;
        padding: 0 10px 0 10px;
        margin: 2px 1px 2px 1px ;

}

.py-1 a:hover{
  text-decoration: none;
  color:#bbb;
}

.sell {
    background: #0070c9;
    text-decoration: none;
    color: white;
    padding: 0px 5px 0 5px;
    margin-top: 9px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: "SF Pro Text", "Arial", sans-serif;
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 0px grey;

}

.sell:hover {
    background: #0070c9;
    text-decoration: none;
    color: white;
    padding: 0px 5px 0 5px;
    margin-top: 9px;
    margin-bottom: 5px;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: "SF Pro Text", "Arial", sans-serif;
    transition: all 0.1s ease-in;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.281);

}

/*FOOTER*/

html{
  height: 100%;
}

body{
  min-height: 100%;
}

.container{
  left: 940px;
  width: 960px;
  margin: 0 auto;
}

.footer_div_flex div a::after{
  content:">";
}

footer{
  background-color: #f2f2f2;
}

footer div a{
  text-decoration: none;
  color:#0070c9;
}

footer div a:hover{
  text-decoration: underline;
  color:#0070c9;
}

footer nav{
  display: flex;
  margin-left: 19%;
}

footer nav ul {
  margin-top:0.5em;

}

footer nav ul li {
  display:inline;
  margin:0;
 }

 footer nav ul li a {
  color:#333;
  text-decoration:none;
  margin:0 1em 0 0;
  font-size: 12px;
 }

 footer nav ul li a:hover {
  text-decoration:underline;
 }

 footer nav img {
  float:right;
 }

 footer nav p {
  color:#fff;
  line-height: 1;
  text-transform: uppercase;
  font-size:0.7em;
  margin-top:0.5em;
 }

 .footer_div_flex h4{
   font-size: 19px;
 }

 .footer_div_flex p, .footer_div_flex a{
   font-size: 14px;
 }

 .footer_div_flex{
   display: flex;
   text-align: center;
 }

 #footer_usefulLinks{
   display: flex;
   justify-content: center;
 }

 .footer_div_flex h4{
   font-weight: bold;
 }

/*MAIN*/

#main_backgroundImage{
  width: 100%;
}

.main_homePage{
	text-align: center;
	margin-bottom: 100px;
  position: relative;
}

.main_homePage h2{
	font-size: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top:60px;
  font-weight: bold;
}

.main_homePage p{
	width: 500px;
	margin-bottom: 50px;
  position: absolute;
  margin-top: -32%;
  margin-left: 23%;
  background-color: rgba(0,0,0,0.7);
  color:#fff;
  padding:20px;
  border-radius: 10px;
}

.picHomePod{
	height: 300px;
	width: auto;
	margin-bottom: 20px;
}

.main_page2 .sonPic_basses{
	height: 500px;
	width: auto;
}

.main_page2{
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
}

.main_page2_text{
	padding-left: 20px;
}

h3{
	font-size: 32px;
  font-weight: bold;
}

.main_page2_text p{
	width:400px;
	margin-left: 80px;
}

.main_page2{
	margin-bottom: 90px;
}

.main_page3{
	text-align: center;
  width:600px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.main_page3 h3{
  color: linear-gradient(#42a1ec, #0070c9);
}

.main_page3 a{
  text-decoration: none;
  color:#0070c9;
}

.gradient {
  color: #f0357c;
  background-image: linear-gradient(to right, #f0357c 100px, #f154ff 200px, #777dff 300px, #37bdde 500px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}
