@media screen (min-width:768px) and (max-width:1024px){

  .main_page2{
    display: flex;
    flex-flow: column;
  }

}

@media screen and (max-width:768px){

  .container{
    width: 480px;
    margin:0 auto;
    overflow: hidden;
  }

  .main_homePage p{
  	width: 450px;
  	margin-bottom: 50px;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    background-color: #111;
    color:#fff;
    padding:20px;
    border-radius: 0%;
  }

  .main_page2_text{
    display: block;
  }

  .sonPic_basses{
    display: block;
  }

  .main_page2{
  	display: flex;
  	flex-flow: column nowrap;
  	text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .main_page2All{
  	padding-top: 100px;
  }

  .main_page2 .sonPic_basses{
  	width: 160px;
  	height: auto;
  }

  .main_page2_text{
  	width: 450px;
    text-align: center;
  }

  .main_page2 p{
  	width: 350px;
    margin-left: 10%;
  }

  .main_page3{
  	text-align: center;
    width:400px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}
